<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scraping News App</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Style CSS link -->
    <!-- <link href="reset.css" rel="reset.css"> -->
    <link rel="stylesheet" href="/Scraping-News/public/style.css">
</head>

<body>
    {{{body}}}

    <!-- jQuery, javascript file for the Bootstrap's javascript file to function -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- JavaScript -->
    <script src="app.js"></script>
</body>

</html>