/* .body {
  background-image: url("../images/grey_wood_background.jpg");
} */

.jumbotron {
  background-image: url("../images/book_pages.jpg");
  background-size: cover;
}

#footer {
  font-size: .85rem;
  padding-top: 15px;
  padding-bottom: 5px;
}

.card-body {
  font-family: Georgia, 'Times New Roman', Times, serif;

}

#scrape {
  position: relative;
  right: 15px;
}

#save-article-btn {
  position: absolute;
  right: 20px;
  top: 8px;
  /* bottom: 75%; */
}

#add-notes-btn {
  position: absolute;
  right: 20px;
  top: 8px;
}

#delete-btn {
  position: absolute;
  right: 120px;
  top: 8px;
}

#noteText {
  border: 1px solid blue;
  width: 50%;
}

#noteInput {
  float: right;
  border: 1px solid red;
  width: 45%;
}